---
import { Image } from "astro:assets";
import petCard from "../assets/walking-dog.png";
import travelCard from "../assets/nomad-travel.png";
import planEvoluciona from "../assets/plan-evolucion.png";
import planClasico from "../assets/plan-clasico.png";
import planViva from "../assets/plan-viva.png";
import planGlobal from "../assets/plan-global.png";

---

<!-- Interactive Feature Cards -->
<section
  id="servicios"
  class="section relative bg-shape"
>
  <div class="container-custom ">
    <div class="text-start md:text-center max-w-3xl mx-auto px-4 pb-5">
      <h2
        class="text-3xl md:text-4xl lg:text-5xl mb-4 md:mb-6 text-secondary-900 dark:text-white animate-slide-down"
      >
        Productos y servicios que cuidan de ti
      </h2>
      <p
        class="text-lg md:text-xl text-gray-600 dark:text-gray-300 mb-6 md:mb-8 animate-slide-up"
        style="animation-delay: 200ms"
      >
        Conoce todos los servicios disponibles para ti, pensados para cuidar tu
        salud, tu familia y tu tranquilidad.
      </p>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

      <!-- Feature Card 1 -->
      <div class="feature-card h-full cursor-pointer">
        <div class="card border-none p-6 md:p-8 h-full bg-primary1-50 dark:bg-primary-900/30">
          
          <div class="card-image">
            <Image
              src={planViva}
              alt="Mascota"
              class="w-full h-32 object-cover rounded-lg mb-4"
            />

          </div>
          <h3 class="text-2xl font-semibold mb-3 text-secondary-900 dark:text-white">
            Plan Vive Sura
          </h3>
          <p class="text-gray-600 dark:text-gray-300">
            En Sura entendemos que tu familia es lo más importante.
          </p>
          <div class="mt-5">
            <a
              href="https://asesor.segurossura.com.co/Paginas/salud.aspx?U=CarlosMauricioFarfanPerdomo&C=34073"
              target="_blank"
              class="flex items-center text-primary-600 dark:text-primary-400 hover:underline transition-colors"
            >
              Conoce más
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="ms-2"
                fill="currentColor"
                class="ms-2"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>

      <!-- Feature Card 2 -->
      <div class="feature-card h-full cursor-pointer">
        <div class="card border-none p-6 md:p-8 h-full bg-primary1-50 dark:bg-primary-900/30">
          
          <div class="card-image">
            <Image
              src={planEvoluciona}
              alt="Mascota"
              class="w-full h-32 object-cover rounded-lg mb-4"
            />

          </div>
          <h3 class="text-2xl font-semibold mb-3 text-secondary-900 dark:text-white">
            Plan Salud Evoluciona
          </h3>
          <p class="text-gray-600 dark:text-gray-300">
            Disfruta de un plan integral con excelentes coberturas.
          </p>
          <div class="mt-5">
            <a
              href="https://asesor.segurossura.com.co/Paginas/salud.aspx?U=CarlosMauricioFarfanPerdomo&C=34073"
              target="_blank"
              class="flex items-center text-primary-600 dark:text-primary-400 hover:underline transition-colors"
            >
              Conoce más
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="ms-2"
                fill="currentColor"
                class="ms-2"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>


      <!-- Feature Card 3 -->
      <div class="feature-card h-full cursor-pointer">
        <div class="card border-none p-6 md:p-8 h-full bg-primary1-50 dark:bg-primary-900/30">
          
          <div class="card-image">
            <Image
              src={planClasico}
              alt="Mascota"
              class="w-full h-32 object-cover rounded-lg mb-4"
            />

          </div>
          <h3 class="text-2xl font-semibold mb-3 text-secondary-900 dark:text-white">
            Plan Salud Clásico
          </h3>
          <p class="text-gray-600 dark:text-gray-300">
            Servicios médicos y clínicos de acuerdo a tus necesidades.
          </p>
          <div class="mt-5">
            <a
              href="https://asesor.segurossura.com.co/Paginas/salud.aspx?U=CarlosMauricioFarfanPerdomo&C=34073"
              target="_blank"
              class="flex items-center text-primary-600 dark:text-primary-400 hover:underline transition-colors"
            >
              Conoce más
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="ms-2"
                fill="currentColor"
                class="ms-2"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>

      <!-- Feature Card 4 -->
      <div class="feature-card h-full cursor-pointer">
        <div class="card border-none p-6 md:p-8 h-full bg-primary1-50 dark:bg-primary-900/30">
          
  
          <div class="card-image">
            <Image
              src={planGlobal}
              alt="Mascota"
              class="w-full h-32 object-cover rounded-lg mb-4"
            />

          </div>
          <h3 class="text-2xl font-semibold mb-3 text-secondary-900 dark:text-white">
            Plan Salud Global
          </h3>
          <p class="text-gray-600 dark:text-gray-300">
            Accede a una mayor cobertura, tanto en Colombia como fuera del país.
          </p>
          <div class="mt-5">
            <a
              href="https://asesor.segurossura.com.co/Paginas/salud.aspx?U=CarlosMauricioFarfanPerdomo&C=34073"
              target="_blank"
              class="flex items-center text-primary-600 dark:text-primary-400 hover:underline transition-colors"
            >
              Conoce más
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="ms-2"
                fill="currentColor"
                class="ms-2"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>

      <!-- Feature Card 5 -->
      <div class="feature-card h-full cursor-pointer">
        <div class="card border-none p-6 md:p-8 h-full bg-primary1-50 dark:bg-primary-900/30">
  
          <div class="card-image">
            <Image
              src={travelCard}
              alt="Mascota"
              class="w-full h-32 object-cover rounded-lg mb-4"
            />

          </div>
          <h3 class="text-2xl font-semibold mb-3 text-secondary-900 dark:text-white">
            Seguro de viaje
          </h3>
          <p class="text-gray-600 dark:text-gray-300">
            En tus vacaciones viaja tranquilo a cualquier destino con SURA
          </p>
          <div class="mt-5">
            <a
            href="https://wa.me/573186298233?text=Hola,%20me%20gustaría%20recibir%20asesoría%20personalizada%20para%20seguros%20de%20viajes"
              target="_blank"
              class="flex items-center text-primary-600 dark:text-primary-400 hover:underline transition-colors"
            >
              Conoce más
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="ms-2"
                fill="currentColor"
                class="ms-2"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>

      <!-- Feature Card 6 -->
      <div class="feature-card h-full cursor-pointer">
        <div class="card border-none p-6 md:p-8 h-full bg-primary1-50 dark:bg-primary-900/30">
          
          <div class="card-image">
            <Image
              src={petCard}
              alt="Mascota"
              class="w-full h-32 object-cover rounded-lg mb-4"
            />

          </div>
          <h3 class="text-2xl font-semibold mb-3 text-secondary-900 dark:text-white">
            Salud Perros y Gatos
          </h3>
          <p class="text-gray-600 dark:text-gray-300">
            Cotiza el plan perfecto para tu peludo
          </p>
          <div class="mt-5">
            <a
              href="https://wa.me/573186298233?text=Hola,%20me%20gustaría%20recibir%20asesoría%20personalizada%20para%20seguros%20de%20mascotas"
              target="_blank"
              class="flex items-center text-primary-600 dark:text-primary-400 hover:underline transition-colors"
            >
              Conoce más
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                class="ms-2"
                fill="currentColor"
                class="ms-2"
                ><path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

/* .card {
  background-image: url('../assets/bg-card-shape.svg');
  background-size: cover;
  background-position: center;
} */

.feature-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}
.feature-card:hover {
  transform: scale(1.05);
}


.card {
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
} 
.card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.card-image {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}





</style>
